/* General ttags styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: var(--wp--preset--font-family--poppins, 'Comic Neue');
}
p {
    font-family: var(--wp--preset--font-family--poppins, 'Comic Neue');
}

/* The body here will be converted to the .editor-styles-wrapper */
body {
    margin: auto 0px;
    background: linear-gradient(90deg,#e5c978 calc((100% - 887px)/2), #ffffff calc((100% - 887px)/2), #ffffff calc(((100% - 887px)/2) + 887px), #e5c978 calc(((100% - 887px)/2) + 887px));
}
@media screen and (min-width: 68.75em) {
    .block-editor-block-list__layout.is-root-container {
        max-width: 840px;
        left: calc((100% - 840px)/2);
        right: calc((100% - 840px)/2);
    }
}

/* Page title style */
.editor-post-title__input {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.1538;
    font-family: var(--wp--preset--font-family--poppins, 'Comic Neue');
    font-weight: 700;
}

/* Rotated image style */
.is-style-jardim-das-curiosidades-rotated img {
    transform: rotate(-2deg);
    box-shadow: 2px 4px 16px -12px #000;
}

/* Getwid tabs */
.wp-block-getwid-tabs__nav-link a {
    border-bottom: none;
    transition: color 0.3s ease;
}
.wp-block-getwid-tabs__nav-link {
    margin: 12px;
    border-radius: 8px;
    border: 2px solid #bfae7a;
    border: 2px solid var(--theme-light-brown, #bfae7a);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.wp-block-getwid-tabs__nav-link:hover,
.wp-block-getwid-tabs__nav-link:focus {
    background: #bfae7a;
    background: var(--theme-light-brown, #bfae7a);
    border: 2px solid #892713;
    border: 2px solid var(--theme-dark-brown, #892713);
}
.wp-block-getwid-tabs__nav-link:hover a,
.wp-block-getwid-tabs__nav-link:focus a {
    color: #892713;
    color: var(--theme-dark-brown, #892713);
}
.wp-block-getwid-tabs__nav-link.ui-tabs-active,
.wp-block-getwid-tabs__nav-link.ui-tabs-active:hover,
.wp-block-getwid-tabs__nav-link.ui-tabs-active:focus {
    color:#fff;
    color: var(--theme-content-background-color, #fff);
    background: #892713;
    background: var(--theme-dark-brown, #892713);
    border: 2px solid #892713;
    border: 2px solid var(--theme-dark-brown, #892713);
}
.wp-block-getwid-tabs__nav-link.ui-tabs-active a,
.wp-block-getwid-tabs__nav-link.ui-tabs-active:hover a,
.wp-block-getwid-tabs__nav-link.ui-tabs-active:focus a  {
    color:#fff;
    color: var(--theme-content-background-color, #fff);
}

/* Drop cap letter */
.has-drop-cap:not(:focus)::first-letter {
    font-weight: inherit;
}